
.main--title,
.main--text {
    font-weight: var(--fw-700);
}

.main--title {
    color: var(--clr-grey-6);
    font-size: var(--fs-18);
}

.main--text {
    color: var(--clr-white);
    font-size: var(--fs-14);
    display: flex;
    align-items: center;
    gap: 0.573em;
    text-decoration: none;
    margin: 0.93em 0 0;
}